name: Tests
on:
  push:
    branches:
      - main
jobs:
  test:
    name: Test Chart Generator
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Set up Go
        uses: actions/setup-go@19bb51245e9c80abacb2e91cc42b33fa478b8639 # v4
        with:
          go-version: "1.24"
      - name: Run tests
        run: |
          go mod tidy
          go test ./...
