name: Tests
on:
  push:
    branches:
      - main
jobs:
  test:
    name: Test Chart Generator
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Set up Go
        uses: actions/setup-go@7b8cf10d4e4a01d4992d18a89f4d7dc5a3e6d6f4 # v4
        with:
          go-version: "1.25"
      - name: Run tests
        run: |
          go mod tidy
          go test ./...
